.type1 {
  font-family: 'Lato', sans-serif;
}
.type2 {
  font-family: 'Hind Madurai', sans-serif;
}
.naming {
  font-style: italic;
  color: #fff;
  font-size: 22px;
}
.title {
  /* font-style: italic; */
  color: #fff;
  font-size: 32px;
  margin-top: 20px;
}
.subtitle {
  margin-top: -6px;
  max-width: 260px;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.gradient {
  width: 100%;
  box-shadow: 0 0 16px #666;

  background: #333;
  background: -webkit-linear-gradient(top, #333, #666);
  background: -moz-linear-gradient(top, #333, #666);
  background: linear-gradient(to bottom, #333, #666);
}

.allView {
  /* background: red; */
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.centerView {
  display: flex;
  position: relative;
  height: 100vh;
  max-width: 740px;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
